@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto:ital,wght@1,100&display=swap');
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Anton', sans-serif;

}

html, body{

  background: linear-gradient(-45deg, rgb(66, 7, 52), rgb(7, 1, 28), rgb(63, 3, 3), rgb(41, 29, 75));
  background-size: 400% 400%;
  animation: gradient 30s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.2);
  width: 350px;
  height: 350px;
  border-radius: 15px;
}
.dir {
  display: flex;
  flex-direction: column;
  font-family: Arial;

}
.dir p {
  font-size: 14px;
  margin: 0;
  text-align: center;
}
h1 {
  margin-top: 50px;
  color: white;
  font-weight: normal;
}
.searchBar {
  margin-top: 20px;
  display: flex;
  flex-direction: column;

}
.searchBar button {
  width: 50px;
}
.main p {
  color: white;
}
.input-box{
  font-size: 20px;
  width: 200px;
  height: 30px;
  border-radius: 8px;
  border: none;
}
.go-button {
  background-color: white;
  border-radius: 8px;
  cursor: pointer;
}
.result {
  font-family: Arial;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 300px;
  height: 150px;
  position: absolute;
  border-radius: 10px;
}
.progressbar {
  opacity: 0;
  position: absolute;
  margin-top: 50px;
  height: 20px;
  width: 100px;
  border: solid 1px black;
}
.progressfill {
  height: 20px;
  background-color: green;
}
.againbtn {
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
}
